{% extends 'shop/base.html' %}

{%block content%}

<h2>Filtering data for search the item.</h2>

    <form method="get">
        {{ filter.form }}
        <input type="submit" />
    </form>
{% if request.GET %}
    <table>
        <th>Наименование</th>
        <th>Группа</th>
        <th>Стоимость</th>
        <th>Страна-производитель</th>
        {% for obj in filter.qs %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.group.name }}</td>
            <td>{{ obj.retail_price }}</td>
            <td>{{ obj.countries.all|join:', ' }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}