{% extends 'shop/base.html' %}

{% block content %}

<h2>Adding new invoice</h2>
    {%for message in messages%}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <form id="form-container" action="." method="post">

        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
        <div class="gooditem-form">
            {{ form }}
        </div>
        {% endfor %}

        <button class="btn btn-secondary" id="add-form" type="button">Add item</button>
        <button class="btn btn-primary" type="submit" >Create invoice</button>
    </form>
    <script>
        let goodItemForm = document.querySelectorAll(".gooditem-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_gooditem_set-TOTAL_FORMS")

        let formNum = goodItemForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = goodItemForm[0].cloneNode(true)
            let formRegex = RegExp(`gooditem_set-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `gooditem_set-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>


{% endblock %}