{% extends 'shop/base.html' %}
{% load humanize %}

{%block content%}

    <h2>Invoice {{ object.id }}, {% if object.comment %}{{ object.comment }}{% endif %}, date: {{ object.created_at }}</h2>
<table>
    <th>Наименование</th>
    <th>Кол-во</th>
    <th>Стоимость</th>
    {% for item in object.gooditem_set.all %}
    <tr>
        <td>{{ item.item }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price|intcomma }} р.</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2" style="border-top: 1pt solid black">Total cost: </td>
        <td style="border-top: 1pt solid black"><b>{{ object.get_total_cost|intcomma }} р.</b></td>
    </tr>
</table>
Created by {{ object.author }}
{% endblock %}